.topic{
    font-size: 28px;
    justify-content: center;
    
}
.para{
    background-color: antiquewhite;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 10px;
}
